.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0px 20px;
  
}
.navbar-menu ul{
    display: flex;
    gap: 40px;
}
.navbar-menu  li{
    font-size: 20px;
    font-weight: 600;
    list-style: none;
}
.navbar-account ul{
    display: flex;
    gap: 15px;
}
.navbar-account li{
    font-size: 20px;
    font-weight: 600;
    list-style: none;
}